#header-section {
  background-color: $secondary;
}

.subheader {
  font-size: 1.25em;
  text-transform: uppercase;
  animation: 2.5s subheader-anim;
}

@keyframes subheader-anim {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
    letter-spacing: 0.25em;
  }
  100% {
    letter-spacing: 0;
  }
}

@include media-breakpoint-down(sm) {
  .header {
    font-size: 1.5em;
  }

  .subheader {
    font-size: 1em;
  }
}
