// Variable Overrides

// Custom colours
$bg: #292b2e;
$bg-light: #34323e;
$fg: #b2b2b2;
$fg-dark: #727272;
$pink: #d26487;
$teal: #35a8a5;
$ochre: #b89f33;
$blue: #6981c5;
$purple: #a15ea7;
$green: #288668;
$dark-blue: #2c3e50;

// Override Bootstrap colours
// $dark: $bg;
// $primary: $pink;
// $secondary: $blue;
// $success: $green;
// $danger: $purple;
// $warning: $ochre;
// $info: $bg-light;

// Override Bootstrap font variables
$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: "Montserrat", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-weight: 700;

// Override Bootstrap border variables
$border-width: 0.125rem;
$border-radius: 0.5rem;
$border-radius-lg: 0.75rem;
$border-radius-sm: 0.25rem;

// Override Bootstrap input/button variables
$input-btn-border-width: $border-width;

// Override Bootstrap modal variables
$modal-inner-padding: 4rem 1rem;
$modal-content-border-width: 0;

// Restate the spacer variable for overriding grid gutter width
$spacer: 1rem;

// Override the spacing between columns to add symmetry to the layout
$grid-gutter-width: $spacer * 3;
