// Import fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap");

// Import overrides
@import "variables";

// Import Bootstrap defaults
@import "node_modules/bootstrap/scss/bootstrap";

// Import custom styles
@import "navbar";
@import "header";
@import "about";
@import "projects";
@import "footer";

// Global styles
h3 {
  &::after {
    content: "";
    display: block;
    width: 35%;
    padding-top: .25rem;
    border-bottom: 3px solid $primary;
    @include media-breakpoint-down(md) {
      width: 50%;
    }
    @include media-breakpoint-down(xs) {
      margin: 0 auto;
      width: 100%;
    }
  }
}
